<table class="table table-striped table-borderless">
    <thead>
        <tr>
            <th style="width: 70%">Odpowiedź</th>
            <th style="width: 30%;"></th>
        </tr>
    </thead>
    <tbody>
        {% for vote in results.votes %}
            <tr>
                <td>{{ vote.answer|print_answer(question) }}</td>
                <td><a {% if base_dir is not defined %}href="{{ path('app_panel_analiza_zbiorcza',{id: polling.id, respondent: vote.sessionUser.id}) }}"{% endif%} class="btn btn-link">
                        {{ 'respondent_'~vote.sessionUser.id }}
                    </a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>