{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{% if is_granted('ROLE_USER') %}

<div class="btn-group btn-group-sm">
<a href="{{path('app_my_pollings')}}" class="btn btn-primary">Moje ankiety</a>
<a href="" class="btn btn-primary">Moje kody</a>
<a href="" class="btn btn-primary">Moje ankiety</a>
<a href="" class="btn btn-primary">Moje ankiety</a>
<a href="" class="btn btn-primary">Moje ankiety</a>
</div>
{% endif %}

{% endblock %}
