.img-logo{
    max-width: 100px;
}

.img-preview{
    margin-top:20px;
    max-width: 200px;
    max-height: 200px;
}
.lang_pl .custom-file-label::after{
    content: "Przeglądaj..."
}

.lang_en .custom-file-label::after{
    content: "Browse..."
}
.valueSpan{
    width: 30px;
    text-align: right;
}

input:checked+label.list-group-item{
    background: #0062cc !important;
    color: #fff;
}

label.required::before,p.required::after{
    content: "*";
    color:red;
}

textarea{
    resize: none;
}

.rounded-left-0{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}